<h1>Dream index</h1>
<button class="btn btn-primary" id="add-dream">Add dream</button>

<!-- pass variable to JS -->
<%= javascript_tag do %>
  window.form_hidden = '<%= @form_hidden %>';
<% end %>

<%= render 'form' %>

<%= render @dreams %>

